#arrow-down {
	position: absolute;
	width: 13.938rem;
	height: 13.938rem;
	left: 1266.367px;
	top: 96px;
	padding: 5.75rem 5.938rem;
	border: 0.1px solid $white;
	background-color: transparent;
	border-radius: 50%;
	#scroll-arrow{
		width:2.209rem;
		max-width:2.209rem ;
		height: 2.266rem;
	}
}
