// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here




body {
	color: $white;
	background-color: $secondary;
	max-width: 1925px;
	max-height: 1098px;
	font-family: "IIVorkursMedium";
	@media (max-width: 768px) {
		max-width: 768px;
		max-height: 1024px;
	}
}

#header {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index:2;
}

#wrapper-navbar {
	min-height: 125px;
	width: 100%;
	border: 1px solid $secondary-600;
	font-family: "IIVorkursMedium";
	font-size: 20px;
	color: $white;
	position: absolute;

	#main-nav {
		padding: 0;

		#navbarNavDropdown {
			margin-left: 5.313rem;
			margin-right: 0.3rem;
			@media (max-width: 768px) {
				position: fixed;
				width: 100vw;
				top: 0;
				bottom: 0;
				left: 0;
				margin: 0;
				background: $secondary;
				padding: 104px 69px 49px 79px;
				justify-content: center;
				transition: 0.5s ease margin-top;
				&.collapsing {
					transition: 0.5s ease margin-top;
					margin-top: -100%;
				}
				.navbar-nav {
					.nav-item {
						.nav-link {
							font-size: 50px;
							margin:0;
						}
					}
				}
			}

			.navbar-nav {
				.nav-item {
					.nav-link {
						font-family: "IIVorkursMedium";
						letter-spacing: 0px;
						color: $white;
						padding: 1.563rem;
					}
				}
			}
		}



		.header-logo-container {
			width: 125px;
			height: 125px;
			background-color: $white;
			padding: 24px;
		}
	}
}

.custom-toggler.navbar-toggler {
	border-color: $white;
	border-radius: 50%;
	padding: 19px;
	margin: 24px;
	z-index: 5;
}

.nav-link {
	cursor: pointer;
	display:inline;
}

#arrow-contact{
	padding:19px 16px;
	border:1px solid $white;
	border-radius: 50%;
}

.left-nav {
	width: 127px;
	height: 100%;
	border: 1px solid $secondary-600;
}

.social-networks-container{
	display: flex;
	height: 100%;
	justify-content: flex-end;
	flex-direction: column;
	padding-bottom:4.688rem ;
	ul{
       list-style-type: none;
	   margin-block-start:0;
	   margin-block-end:0;
	   padding-inline-start:0;
	}
	.left-navbar-nav {
		.nav-item {
			.nav-link {
				font-family: "IIVorkursMedium";
				letter-spacing: 0px;
				color: $white;
				padding: 1.563rem;
				font-size: 20px;
			}
		}
	}
}



#home-first-part {
	color: $white;
	background-color: $secondary;
	min-height: 3240px;
}

#home-formations {
	top: 3239px;
	left: 0px;
	min-height: 1090px;
	background: $white 0% 0% no-repeat padding-box;
}

#home-entreprises {
	min-height: 497px;
}

#wrapper-footer {
	min-height: 383px;
}
