// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior:smooth;
}

body {
	color: $white;
	background-color: #171717;
	max-width: 1925px;
	max-height: 1098px;
	font-family: "IIVorkursMedium";
	@media (max-width: 768px) {
		max-width: 768px;
		max-height: 1024px;
	}
	.row {
		margin: 0;
	}
}

#header {
	width: 100vw;
	height: 125px;
	position: fixed;
	overflow: hidden;
	mix-blend-mode: difference !important;
	z-index: 2;
}

#wrapper-navbar {
	height: 125px;
	width: 100%;
	border: 1px solid $secondary-600;
	font-family: "IIVorkursMedium";
	font-size: 125%;
	color: $white;
	position: absolute;
	#main-nav {
		padding: 0;

		#navbarNavDropdown {
			margin-left: 5.313rem;
			margin-right: 0.3rem;
			@media (max-width: 768px) {
				position: fixed;
				width: 100vw;
				top: 0;
				bottom: 0;
				left: 0;
				margin: 0;
				background: $secondary;
				padding: 104px 69px 49px 79px;
				justify-content: center;
				transition: 0.5s ease margin-top;
				&.collapsing {
					transition: 0.5s ease margin-top;
					margin-top: -100%;
				}
				.navbar-nav {
					.nav-item {
						.nav-link {
							font-size: 50px;
							margin: 0;
						}
					}
				}
			}

			.navbar-nav {
				.nav-item {
					.nav-link {
						letter-spacing: 0px;
						color: $white;
						padding: 1.563rem;
						z-index: 1000;
					}
				}
			}
		}

		.header-logo-container {
			width: 125px;
			height: 123px;
			background-color: $white;
			padding: 24px;
			opacity: 100%;
		}
	}
}

.custom-toggler.navbar-toggler {
	border-color: $white;
	border-radius: 50%;
	padding: 19px;
	margin: 24px;
	z-index: 5;
}

.nav-link {
	cursor: pointer;
	display: inline;
}

#arrow-contact {
	padding: 19px 16px;
	border: 1px solid $white;
	background-color: $secondary;
	border-radius: 50%;
}

#contact-button:hover {
	filter: invert(1);
}

.left-nav {
	width: 127px;
	height: 100vh;
	border: 1px solid $secondary-600;
	position: fixed;
	mix-blend-mode: difference !important;
}

.social-networks-container {
	display: flex;
	height: 100vh;
	justify-content: flex-end;
	flex-direction: column;
	padding-bottom: 3rem;
	ul {
		list-style-type: none;
		margin-block-start: 0;
		margin-block-end: 0;
		padding-inline-start: 0;
	}
	.left-navbar-nav {
		.nav-item {
			text-align: center;
			padding-top: 1.906rem;
			padding-bottom: 1.906rem;
			.nav-link {
				font-family: "IIVorkursMedium";
				letter-spacing: 0px;
				color: $white;
				padding: 1.563rem;
				font-size: 20px;
			}
		}
	}
}

#wrapper-footer {
	min-height: 360px;
	padding: 0;
	color: $white;

	.footer-horizontal-divider {
		display: flex;
		justify-content: center;
		align-items: center;
		.footer-horizontal-line {
			display: inline-block;
			border-top: 1px solid #656565;
			width: 1396px;
		}
	}

	#footer-row {
		margin-left: 16.375rem;
		margin-right: 16.375rem;
		min-height: 360px;
		.col {
			min-height: 360px;
			padding: 0;
		}

		#footer-first-part {
			margin: 0;
			padding-top: 58px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			font-size: 20px;
			#footer-adress {
				display: flex;
				flex-direction: column;
				font-family: "IIVorkursLight";
				font-size: 15px;
				margin-bottom: 1.398rem;
			}
		}

		#footer-phone-part {
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 223px;
			.footer-circle {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 223px;
				width: 223px;
				border: 1px solid #656565;
				background-color: none;
				border-radius: 50%;
				margin-bottom: 2rem;
				.footer-phone {
					font-size: 15px;
					color: $white;
				}
			}
		}

		#footer-vertical-divider {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.footer-vertical-line {
				display: inline-block;
				border-left: 1px solid #656565;
				height: 383px;
			}
		}

		#nav-footer-col {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			font-size: 20px;
			#nav-footer {
				padding-top: 58px;
				justify-content: left;
				ul {
					margin-block-start: 0;
					margin-block-end: 0;
					padding-inline-start: 0;
					list-style-type: none;
					li {
						margin-bottom: 24px;
						a {
							color: $white;
							padding: 0;
						}
					}
				}
			}
			#nav-c {
				font-family: "IIVorkursLight";
				font-size: 15px;
				margin-bottom: 1.398rem;
				color: #656565;
			}
		}

		#footer-infos {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			margin-bottom: 1.398rem;
			#footer-infos-container {
				.footer-info {
					font-family: "IIVorkursLight";
					font-size: 15px;
					margin: 0;
					margin-block-start: 0;
					margin-block-end: 0;
					color: #656565;
					strong {
						color: $white;
					}
				}
			}
		}
	}
}
