#pole-title {
	left: 262px;
	top: 267.828px;
	position: absolute;
	width: 35.625rem;
	height: 23.25rem;
	text-align: left;
	font-family: "IIVorkursBold";
	letter-spacing: -3.8px;
}

#pole-intro {
	left: 970px;
	top: 695.828px;
	position: absolute;
	width: 43rem;
	height: 14.125rem;
	line-height: 2.938rem;
	text-align: left;
	font-family: "IIVorkursLight";
	font-size: 2.125rem;
	color: rgba(255, 255, 255, 1);
}

#pole-video-container{
	position: absolute;
		width: 103.625rem;
		height: 41.75rem;
		left: 262px;
		top: 1053.668px;
}
