#pole-scrolling-text-container {
	position: absolute;
	width: 120rem;
	height: 11.5rem;
	left: 0px;
	top: 1893.867px;
	overflow: hidden;
	color: $secondary;
	#pole-scrolling-text {
		display: inline-flex;
		padding-left: 100%;
		width: 135.125rem;
		height: 9.5rem;
		margin: 0;
		text-align: left;
		font-family: "IIVorkursLight";
		font-size: 8.438rem;
		color: rgba(23, 23, 23, 1);
		letter-spacing: -0.38px;
		animation: pole-scrolling-text-container 30s linear infinite;
		.span {
			margin: 0 1rem 0 1rem;
		}
		.pole-scrolling-text-add {
			width: 2.375rem;
			height: 2.375rem;
			margin-top: 4.375rem;
		}
		@keyframes pole-scrolling-text-container {
			0% {
				transform: translate(0, 0);
			}
			100% {
				transform: translate(-100%, 0);
			}
		}
	}
}

#pole-team-container {
	position: absolute;
	width: 87.25rem;
	height: 78.375rem;
	left: 262px;
	top: 2142.996px;
	#pole-team-title {
		color: rgba(23, 23, 23, 1);
		letter-spacing: -0.38px;
		text-align: left;
		font-family: "IIVorkursBold";
		margin: 0;
	}
	.pole-team-photos-container {
		position: absolute;
		width: 87.25rem;
		height: 69.813rem;
		top: 8.563rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		.pole-team-photo-row {
			width: 87.25rem;
			max-width: 87.25rem;
			height: 34.625rem;
			max-height: 34.625rem;
			overflow: hidden;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			.pole-team-photo-card {
				width: 28.25rem;
				height: 33.938rem;
				overflow: hidden;
				.pole-team-photo {
					width: 28.25rem;
					height: 33.938rem;
				}
				.pole-team-photo-hover {
					display: none;
				}
			}
			.pole-team-photo-card:hover {
				.pole-team-photo {
					display: none;
				}
				.pole-team-photo-hover {
					width: 28.25rem;
					height: 33.938rem;
					padding: 3.125rem 3.688rem;
					background-color: #ffc33b;
					color: $secondary;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.pole-team-photo-name {
						font-size: 34px;
					}
					.pole-team-photo-foot {
						font-size: 24px;
					}
				}
			}
		}
	}
}

#pole-actu-container {
	position: absolute;
	width: 103.625rem;
	height: 27.167rem;
	left: 262px;
	top: 3694.996px;
	overflow: hidden;
	#pole-actu-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 116.875rem;
		height: 27.167rem;
		left: 262px;
		top: 3694.996px;
		color: $secondary;
		overflow: hidden;
		.col {
			padding: 0;
		}

		#pole-actu-col-1 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			#pole-actu-title-btn {
				a {
					#pole-fb-btn {
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 30px;
						background-color: transparent;
						border-color: $secondary;
						border-width: 1px;
						border-style: solid;
						color: $secondary;
						width: 9.544rem;
						height: 2.875rem;
						font-family: "IIVorkursMedium";
						font-size: 18px;
						margin-top: 1.8rem;
						#pole-fb {
							height: 35%;
							margin-left: 0.5rem;
							margin-bottom: 0.2rem;
						}
					}
				}
			}
			#pole-actu-arrows {
				position: absolute;
				width: 35.707px;
				height: 122.529px;
				left: 354px;
				top: 311.672px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.pole-arrow {
					width: 2.21rem;
					height: 2.267rem;
				}
				#pole-arrow-left {
					transform: rotate(-135deg);
				}
				#pole-arrow-right {
					transform: rotate(45deg);
				}
			}
		}
		#pole-actu-cards-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			overflow: hidden;
			top: 0.672px;
			.pole-actu-card {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background-color: #212121;
				height: 27.125rem;
				width: 28.276rem;
				padding: 2.375rem 3.063rem;
				color: $white;
				font-family: "IIVorkursLight";
				font-size: 20px;
				.pole-actu-card-top {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.pole-actu-card-date {
						color: $primary;
					}
					.pole-arrow-right {
						width: 2.838rem;
						height: 2.88rem;
						filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(229deg)
							brightness(102%) contrast(102%);
					}
				}
				.pole-actu-card-horizontal-divider {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding-right: 0;
					padding-left: 0;
					.pole-actu-card-horizontal-line {
						display: inline-block;
						margin-top: 11.5rem;
						border-top: 1px solid #656565;
						width: 22.438rem;
					}
				}
				.pole-actu-card-text{
					padding-top:.5rem;
					line-height: 2.375rem;
				}
			}
		}
	}
}
