.list-group-item {
	// position: absolute;
	// width: 1396px;
	// height: 343px;
	// left: 262px;
	// top: 1354px;
	background-color: transparent;
	border: none;
	text-align: left;
	padding: 0;
	margin-bottom: 17px;
	font-family: "IIVorkursLight";
}

.list-group-item::before {
	position: absolute;
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11'%3E%3Cg id='file-add' transform='translate(0.5 -2.5)'%3E%3Cline id='Line_570' data-name='Line 570' y2='10' transform='translate(5 3)' fill='none' stroke='%23ffc33b' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3Cline id='Line_571' data-name='Line 571' x1='10' transform='translate(0 8)' fill='none' stroke='%23ffc33b' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
	background-size: 0.625rem 0.625rem;
	height: 0.625rem;
	width: 0.625rem;
	left: -45px;
	top: 10px;
}

#intro-text {
	position: absolute;
	top: 1354px;
	left: 262px;
	width: 20.875rem;
	height: 17.063rem;
	line-height: 2.938rem;
}

#container-intro-1 {
	#home-intro-1 {
		position: absolute;
		width: 8.438rem;
		height: 3.625rem;
		top: 1354px;
		left: 852px;
	}

	#list-group-1 {
		position: absolute;
		top: 1447px;
		left: 899px;
		width: 16.125rem;
		height: 15.563rem;
	}
}

#container-intro-2 {
	#home-intro-2 {
		position: absolute;
		width: 11.125rem;
		height: 3.625rem;
		top: 1354px;
		left: 1324px;
	}

	#list-group-2 {
		position: absolute;
		top: 1446px;
		left: 1369px;
		width: 16.125rem;
		height: 15.688rem;
	}
}
