#home-first-part {
	color: $white;
	background-color: $secondary;
	min-height: 3240px;
}

#home-formations {
	top: 3239px;
	left: 0px;
	min-height: 1090px;
	background: $white 0% 0% no-repeat padding-box;
}


#home-entreprises {
	min-height: 497px;
}
