#home-formations {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: minmax(10px, auto);
}
#home-formations-image {
	width: 60%;
	grid-column: 1;
	grid-row: 1/6;
	margin: -155px 0 0 235px;
	top: 3084px;
	left: 263px;
	width: 568px;
	height: 945px;
}
#home-formations-titre {
	margin: 100px 20px 0 0;
	grid-column: 2/3;
	grid-row: 1;
	top: 3333px;
	left: 970px;
	width: 688px;
	height: 192px;
	text-align: left;
	font-family: "IIVorkursBold";
	letter-spacing: -3.8px;
	color: #171717;
}
p#home-formations-subtitle {
	grid-column: 2/3;
	grid-row: 2/3;
	margin: 34px 437px 0 0;
	text-align: left;
	font-family: "IIVorkursLight";
	font-size: 24px;
	letter-spacing: 0.4px;
	color: #171717;
	z-index: 10;
	line-height: 38px;
}
p#home-formations-text {
	grid-column: 2/3;
	grid-row: 3/4;
	margin: -108px 376px 0 0;
	text-align: left;
	font-family: "IIVorkursLight";
	font-size: 20px;
	letter-spacing: 0.4px;
	color: #171717;
	z-index: 20;
	line-height: 38px;
}
.home-formations-lists-container {
	display: flex;
	flex-direction: row;
	grid-column: 2/3;
	grid-row: 4/5;
	z-index: 20;
	margin: -100px 0 0 0;
	left: 1015px;
	height: 144px;
	line-height: 40px;
	font-family: "IIVorkursLight";
	font-size: 18px;
}
#home-formations-list-ul-1 {
	list-style: none;
}
#home-formations-list-ul-2 {
	list-style: none;
}
#home-formations-list-1 {
	color: black;
	list-style: none;
}
#home-formations-list-2 {
	color: black;
	list-style: none;
	padding: 0px 0px 0px 70px;
}
.home-formation-list-plus {
	margin: -6px 10px 0px 0px;
	padding: 0px 10px 0px 0px;
}
#home-formations-btn {
	// grid-column: 2/3;
	// grid-row: 5/6;
	top: 4106px;
	left: 970px;
	width: 201px;
	height: 46px;
	border: 1px solid #171717;
	border-radius: 26px;
	font-size: 19px;
	background-color: $white;
}
#home-formations-btn:hover {
	background-color: $secondary;
	color: $white;
}
a.home-formations-btn {
	width: 201px;
	height: 46px;
	font-size: 19px;
	background-color: $white;
	margin: -60px 0 0 0;
}
#home-formations-add {
	margin: -7px 0px 0px 5px;
	filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(254deg) brightness(0%)
		contrast(100%);
}
#home-formations-add:hover {
	margin: -7px 0px 0px 5px;
	filter: none !important;
}
