#picture1 {
    width: 1658px;
    height: 668px;
}

#home-title {
    position: absolute;
        width: 1658px;
        height: 920px;
        left: 262px;
        top: 266.5px;
}

#home-titre {
    max-width: 49rem;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'IIVorkursBold';
    letter-spacing: -3.8px;
}