#home-sectors {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	width: 87.25rem;
	height: 39.718rem;
	left: 262px;
	top: 2271.884px;
	#home-sectors-title-yellow {
		color: $primary;
	}
	#home-sectors-subtitle {
		color: #707070;
		font-size: 24px;
		font-family: "IIVorkursLight";
		margin-bottom: 3.625rem;
	}
	.home-cards-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.home-card {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: left;
			width: 13.5rem;
			height: 20.688rem;
			background-color: #212121;
			#picto-rounds {
				margin: 2rem 1.625rem;
			}
			.home-card-img {
				margin: 2.5rem 1.625rem;
				.home-card-picto {
					height: 90%;
				}
			}
			.home-card-text {
				display: flex;
				flex-direction: row;
				margin-bottom: 1.1rem;
				margin-left: 1.625rem;
				.home-card-title {
					color: $white;
					font-size: 24px;
				}
				.home-card-number {
					color: $primary;
					font-size: 15px;
				}
			}
		}
		.home-btn-card {
			width: 13.5rem;
			height: 20.688rem;
			background-color: #171717;
			border: 1px solid #4b4b4b;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			#home-btn-card-btn{
				background-color: transparent;
				font-size: 18px;
				border:none;
				height:7.068rem;
				width:7.5rem;
				.home-btn-card-picto{
					filter: invert(26%) sepia(6%) saturate(8%) hue-rotate(339deg) brightness(99%) contrast(86%);
					color:#4b4b4b;
					margin-bottom: 1.5rem;
				}
				.home-btn-card-text{
					color:$white;
					margin-bottom: 0;
				}
			}
		}
	}
}
