#home-first-part {
	color: $white;
	background-color: $secondary;
	height: 3240px;
	#home-big-circle-container {
		position: absolute;
		left: -444.62px;
		top: 1837.83px;
		overflow: hidden;
		height: 55.578rem;
		width: 55.578rem;
		.home-big-circle {
			height: 55.578rem;
			width: 55.578rem;
			border:1px solid #4b4b4b;
			border-radius: 50%;
			background:rgba(0,0,0,0);
			line-height:55.578rem;
		}
	}

	#home-big-ellipse-container {
		position: absolute;
		left: 926px;
		top: 1764px;
		overflow: hidden;
		width: 62rem;
		height: 126.07rem;
		#home-big-ellipse {
			width: 133.01rem;
			height: 126.07rem;
			.home-big-ellipse-picto {
				width: 133.01rem;
				height: 126.07rem;
			}
		}
	}
}

#home-formations {
	top: 3239px;
	left: 0px;
	height: 1090px;
	background: $white 0% 0% no-repeat padding-box;
}

#home-entreprises {
	height: 497px;
}
