#home-first-part {
	color: $white;
	background-color: $secondary;
	height: 3240px;
	#home-big-ellipse-container {
		position: relative;
		left: 926px;
		top: 1325px;
		overflow: hidden;
		width: 62rem;
		height: 126.07rem;
		#home-big-ellipse {
			width: 133.01rem;
			height: 126.07rem;
			.home-big-ellipse-picto {
				width: 133.01rem;
				height: 126.07rem;
			}
		}
	}
}

#home-formations {
	top: 3239px;
	left: 0px;
	height: 1090px;
	background: $white 0% 0% no-repeat padding-box;
}

#home-entreprises {
	height: 497px;
}
