#contact-polygons-container {
	position: absolute;
	width: 0.75rem;
	height: 42.372rem;
	left: 1910.349px;
	top: 812.563px;
	overflow: hidden;
	z-index: 1;
	#contact-polygons {
		width: 14.65rem;
		height: 42.372rem;
	}
}

#contact-part {
	height: 70.751rem;
	padding-top: 7.688rem;
	#contact-container {
		position: absolute;
		width: 112.25rem;
		height: 63.063rem;
		left: 124px;
		top: 148px;
		.row {
			height: 63.063rem;
			#contact-col-1 {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-top: 5.938rem;
				padding-right: 0;
				padding-left: 0;
				.contact-title {
					margin-bottom: 16.375rem;
					font-family: "IIVorkursBold";
					letter-spacing: -0.38px;
				}
				.contact-text {
					line-height: 32px;
					font-family: "IIVorkursLight";
					font-size: 18px;
					margin-bottom: 2rem;
				}
				a {
					#contact-btn {
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 30px;
						background-color: transparent;
						border-color: white;
						border-width: 1px;
						border-style: solid;
						color: white;
						width: 9.544rem;
						height: 2.875rem;
						font-family: "IIVorkursMedium";
						font-size: 18px;
						#contact-pointer {
							height: 40%;
							margin-left: 0.5rem;
						}
					}
				}
			}
			#contact-col-2 {
				display: flex;
				flex-direction: column;
				padding-top: 5.938rem;
				padding-right: 0;
				padding-left: 0;
				.contact-mail {
					margin-left: 8.625rem;
					margin-bottom: 2.188rem;
					font-family: "IIVorkursLight";
				}
				.contact-phone {
					display: flex;
					align-items: center;
					margin-left: 8.625rem;
					margin-bottom: 8.25rem;
					#contact-add {
						width: 1.2%;
						margin-bottom: 1.5rem;
					}
					.contact-phone-number {
						font-family: "IIVorkursLight";
					}
				}
				.contact-map {
					height: 39.375rem;
					width: 82.75rem;
					overflow: hidden;
					iframe {
						filter: invert(100%) sepia(1%) saturate(1%) hue-rotate(314deg)
							brightness(100%) contrast(100%);
					}
					#contact-big-pointer {
						position: absolute;
						width: 4.458rem;
						height: 5.911rem;
						left: 630.66px;
						top: 611.761px;
						overflow: visible;
					}
				}
			}
		}
		#contact-vertical-divider {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-right: 0;
			padding-left: 0;
			.contact-vertical-line {
				display: inline-block;
				margin-top: 0.5rem;
				border-left: 1px solid #656565;
				height: 62.877rem;
			}
		}
	}
}

.contact-horizontal-divider {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: -1px;
	.contact-horizontal-line {
		display: inline-block;
		border-top: 1px solid #656565;
		width: 1920px;
	}
}
